body{
background: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg') ;
    background-size: cover;
     -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.text-size{
 min-width: 30%;
 min-height:100px;
padding:10px;
max-height: auto;
max-width:auto;

margin-right:5%;
margin-bottom: 5%;
background-color:gainsboro;
}

h2 {
color:whitesmoke;
background-color:rgb(31, 2, 2);
box-shadow: 1px 1px  rgb(202, 221, 202);
}
span{
background-color:rgb(226, 58, 36,0.4);
//border-radius:30%;
}

.container {
 z-index:20;
 margin:50px;
 padding-bottom: 10px;
 padding-top:10px;
 box-shadow: 2px 2px 2px 2px rgba(1, 27, 1, 0.6);
 background-color:rgb(38, 128, 189,0.5);
}

#hello {
z-index:50;
color:rgb(19, 3, 3);
position: absolute;
}
